html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
    font-family: "Savate", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
}

:root {
    --primary-color: black;
    --background-color: white;
}

[data-theme="light"] {
    --primary-color: black;
    --background-color: white;
}

[data-theme="dark"] {
    --primary-color: white;
    --background-color: black;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
}


.btn {
    display: inline-block;
    padding: 20px 20px;
    margin: 50px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
    background-color: #F0F0F0;
    text-decoration: none;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}


.menu-list {
    display: flex;
    gap: 20px;

    li {
      list-style: none;

        a {
            color: var(--primary-color);
        }
}
    }



nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h1 {
    font-size: 72px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 500;
}


p {
    font-size: 18px;
    font-weight: 400;

}

a {
    text-decoration: none;
}

#hamburgerMenu {
    display: none;
}



.home {
    display: flex;
    min-height: 80dvh;
    color: white;
    background-color:  rgba(0,0,0, 0.6);
    background-image: url(images/altumcode-XMFZqrGyV-Q-unsplash.jpg);
    background-blend-mode:multiply;
    gap: 20rem;
    justify-content: space-around;
    align-items: center;

    .home-content {
        min-width: 400px;
        margin: 20px 20px;
        padding: 20px 20px;
    }

    .home-image {
        margin: 20px 20px;
    }

    .profile-picture {
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }
}

.about {
    min-height: 80dvh;
}

.contact {
    min-height: 80dvh;
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-content {
    display: flex;
    justify-content: space-around;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;

    .portfolio-item {
        margin: 20px;
        padding: 20px;
        gap: 20px;
        min-width: 300px;
        max-width: 500px;
        border: 2px solid grey;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.portfolio-slideshow {
    position: relative;
    width: 100%;
    height: 80dvh;
    margin: auto;
    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;

        img {
            width: 300px;
        }

        &:first-child {
            display: block;
        }
    }

    .prev, .next {
        position: absolute;
        bottom: 10%;
        transform: translateY(-10%);
        width: auto;
    }
    .next {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
    }

    .portfolio-gallery {
        grid-template-columns: 1fr;
       
    }

    .desktop-menu {
        display: none;
    }

    #hamburgerMenu {
        display: inline-block;
    }

    .mobile-menu {
        .menu-list {
            flex-direction: column;

            li {
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
}

