html, body {
    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style:normal;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--primary-color);
}


:root {
    --primary-color: #3399cc;
    --background-color: #ffffff;
    --accent-color: #333333;
    --font-title: "My Soul", cursive;
}

[data-theme="light"] {
    --primary-color: #3399cc;
    --background-color: #ffffff;
}

[data-theme="dark"] {
     --primary-color: #ffffff;
    --background-color: #3399cc;
}

button {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color:var(--primary-color);
    background-color: var(--background-color);
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    position: sticky;
    max-height: 6dvh;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.main {
    background-color: var(--background-color);
    background-image: url(images/shahid-hafiz-keXFxIu8caQ-unsplash.jpg);
    min-height: 78dvh;
    background-size: 60%;
    background-blend-mode: ;
    color:var(--primary-color);
    display: flex;
    justify-content: space-around;
    gap: 20px;

    .description {
        margin: 10px;
        padding: 20px;
        max-width: 50dvw;
        h2 {
            font-size: 48px;
            font-family: var(--font-title);
            font-weight: 700;
        }

        p {
            font-size: 24px;
        }
    }

    .subscription-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 2px solid var(--accent-color);
        margin: 20px;
        margin-top: 100px;
        padding: 20px;
        border-radius: 10px;

        input {
            font-size: 18px;
            padding: 10px;
        }

        input[type=submit] {
            padding: 20px;
            font-size: 20px;
            font-weight: 600;
            color:var(--primary-color);
            background-color: var(--background-color);
            border-radius: 10px;
        }

        label {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 6dvh;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: 500;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}


